.nav li {
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 1em;
	margin-right: -4px;
	margin-left: 2px;
	display: inline-block;
} 
   
.nav a {
	color: #2a609a;
	transition: .4s background-color;
}
   
.nav a:hover {
	background-color: gainsboro;
}