{{>header}}
{{>navbar}}
    <body class="idx">
        <div class="idx-title">
            <strong style="font-size:30px">Mentoring</strong><br>
            <strong style="font-size:18px"><em>Enhance your career or others by being part of the <a href="https://talentdevelopment.force.com/s/tdp-page-landing?name=Mentoring+%40+Salesforce&site=TalentPortal">mentoring program</a></em></strong>
        </div>

        <div class="button_pos_left">
            <a class="button_home" href="/register">Be A Mentor</a>
            <a class="button_home" href="/mentees">Find A Mentee</a>
        </div>

        <div class="button_pos_right">
            <a class="button_home" href="/register">Be A Mentee</a>
            <a class="button_home" href="/mentors">Find A Mentor</a>
        </div>
    </body>