{{>header}}
{{>navbar}}
<body>
    <h1>List of Mentees</h1>
    <br><br>
    <form>
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Team</th>
                </tr>
            </thead>
            <tbody>
                {{#mentees}}
                <tr>
                    <td><input type="checkbox" name="mentee" value="true"></td>
                    <td>{{firstName}} {{lastName}}</td>
                    <td>{{title}}</td>
                    <td>{{team}}</td>
                </tr>
                {{/mentees}}
            </tbody>
        </table>
        <input type="submit" value="Confirm" />
    </form>
</body>